*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
}
a{
    text-decoration: none;
}
li {
    list-style-type: none;
}
/* header part css start*/
spam{
    color: orange;
}
#header_part{
    width: 100Ah;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.container_1{
    width: 1280px;
    margin: auto;
}
.row_1{
    width: 100%;
    padding: 40px;
}
.child_div_1{
    width: 50%;
    float: left;
}
.child_div_1 h1{
    font-size: 50px;
    padding-top: 30px;
    
}
.hilite{
    padding-bottom: 30px;
}
.child_div_1 h3{
    padding-bottom: 20px;
}
.child_div_1 h3 b{
    color: tomato;
    font-weight: 800;
    
}
.child_div_1 p{
    text-align: justify;
    padding-bottom: 20px;
}
.link-button{
    text-decoration: none;
   background-image: linear-gradient( 45deg, lightsalmon, tomato);
   padding: 5px 10px;
   border-radius: 5px;

}
.child_div_2{
    width: 50%;
    float: left;
}
.img img{
    width: 600px ;
}
/*container_2 css start*/
#section_2{
    background-image: url("images/dream-bg.png");
    height: 800px;
    background-repeat: no-repeat;
    background-position: right;
    
    
}
.container_2{
    width: 1280px;
    margin: auto;
    padding-top: 100px;
}
.row_2{
    width: 100%;
}
.r_2_child_row_1{
    width: 49%;
    float: left;
}
.child_img img{
    width: 600px;
}
.r_2_child_row_2{
    width: 50%;
    float: right;
}
.r_2_child_row_2 h1{
    font-size: 35px;
}
.r_2_child_row_2 h3{
    padding-top: 40px;
}
.r_2_child_row_2 p{
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 30px;
}
.last_button{
    text-decoration: none;
    background-image: linear-gradient(44deg, lightsalmon, tomato);
    padding: 10px 15px;
    border-radius: 10px;
}
/* experinces css start */
#experinces{
    height: 500px;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    padding: 20px;
}
.container_3{
    width: 1280px;
    margin: auto;
}
.row_3{
    width: 100%;
}
.titel{
   
    padding-bottom: 50px;
}
/* left box */
.info_left{
    width: 48%;
    float: left;
    
}

.box_1 {
    width: 550px;
    box-shadow: 10px 10px 40px gray;
    background-color: white;
    padding-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.box_1 h3{
    color: orange;
}
#border_left{
    border-left: 3px solid #2CBDED ;
    border-image: linear-gradient( #2CBDED tomato);
    border-image-slice: 1;

}
/* right box */
.info_right{
    width: 46%;
    float: right;
}
#border_right{
    border-left: 3px solid #58D68D ;
    border-image: linear-gradient( red yellow);
    border-image-slice: 1;
}
/* images css  start */
#about_me{
    height: 200px;
    background-color: whitesmoke;
}
.container_about{
    width: 1280px;
    margin: auto;
    padding: 50px;
    padding-top: 50px;
}
.row_ablout{
    width: 100%;
}
.about_me{
    width: 49%;
    float: left;
}
.name{
    width: 25%;
    float: left;
    display: inline-block;
}
.name h4{
    font-size: 15px;
}
.sub_name p{
    font-size: 14px;
}
.email{
    width: 35%;
    float: left;
}
.email h4{
    font-size: 15px;
}
.sub_email p{
    font-size: 14px;
}
.number{
    width: 19%;
    float: left;
}
.number h4{
    font-size: 15px;
}
.sub_number  p{ 
    font-size: 14px;
}
.contract_me{
    width: 49%;
    float: left;
}
.f_1 {
    width: 10%;
    float: right;
}
.f_1 img{
    width: 40px;
}


